body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;

}

.hero {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding-left: 150px;
    padding-right: 150px;
}

.header {
    display: flex;
    padding-top: 20px;
    margin-bottom: 100px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    margin-left: auto;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7eB;
}

.hero-body {
    margin-bottom: 100px;
    display: flex;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 50px;
    align-items: flex-start;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-second {
    font-size: 18px;
    color: #E5E7eB;
}

button {
    background-color: #3882F6;
    font-weight: bold;
    font-size: 14px;
    color: #E5E7eB;
    border-radius: 8px;
    border: 2px solid #3882F6;
    padding: 5px 30px 5px 30px;
}

.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:grey;
    flex-shrink:0;
    height: 200px;
    width: 400px;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 100px;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 20px;
}

.info-content {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.info {
    max-width: 200px;
    text-align: center;
}

.info-img {
    height: 128px;
    width: 128px;
    padding-bottom: 10px;
}


.quote-container {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 70px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote-by {
    font-weight: bold;
    font-size: 20px;
    margin-left: auto;
}

.action-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
}

.action-content {
    background-color: #3882F6;
}

.action-button {
    border:2px solid #E5E7EB;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    padding: 20px;
}